


.submitderre{   
    text-align: center;
    justify-content: center ;

    background-image:linear-gradient(

  45deg,
  hsl(240deg 100% 20%) 0%,
  hsl(269deg 100% 21%) 0%,
  hsl(285deg 100% 21%) 1%,
  hsl(298deg 100% 21%) 3%,
  hsl(310deg 100% 25%) 5%,
  hsl(318deg 100% 29%) 9%,
  hsl(324deg 100% 32%) 13%,
  hsl(329deg 100% 36%) 17%,
  hsl(333deg 100% 39%) 22%,
  hsl(336deg 100% 42%) 27%,
  hsl(340deg 99% 45%) 33%,
  hsl(351deg 86% 55%) 39%,
  hsl(0deg 93% 61%) 45%,
  hsl(9deg 100% 61%) 51%,
  hsl(17deg 100% 59%) 57%,
  hsl(24deg 100% 57%) 64%,
  hsl(31deg 100% 54%) 70%,
  hsl(38deg 100% 50%) 77%,
  hsl(42deg 100% 50%) 83%,
  hsl(47deg 100% 50%) 89%,
  hsl(51deg 100% 50%) 95%,
  hsl(55deg 100% 50%) 100%
)
}

.eolo{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content:center;
    text-shadow: 20px 20px 30px rgb(255, 81, 0);
     
}


.holaolga{
    background-color: black;
    color: aliceblue;
    text-align:center ;
}


.cajinha{
    margin-top: 20px;

}

.cajinha input{
    font-size: 15.4px;
    background:transparent;
    border: none;
    outline: none;

}

.alofre{
    justify-content: center ;
width: 100px;

}
